<!DOCTYPE html>
<html lang="es-MX" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skills</title>
</head>
<body>
  <h1>Nuestras habilidades</h1>
  <p th:if="${skills.isEmpty()}">No hay datos</p>
  <ul th:if="${!skills.isEmpty()}">
      <li th:each="skill, stat : ${skills}" >
          <span th:text="'Habilidad: ' + ${skill.name} + ', Nivel: ' + ${skill.level}"></span>
          <a th:href="@{'/skills/id/' + ${stat.index}}">Ver detalle</a>
      </li>
  </ul>

  <form action="/skills" method="get">
      <label th:for="filter">Buscar</label>
      <input type="text" th:value="${filter}" name="filter"/>
      <button type="submit">Guardar</button>
  </form>

<!--  <h1>Nuestras habilidades 2</h1>-->
<!--  <p th:if="${skills2.isEmpty()}">No hay datos</p>-->
<!--  <ul th:if="${!skills2.isEmpty()}">-->
<!--      <li th:each="skill : ${skills2}" th:text="${skill}">Skill</li>-->
<!--  </ul>-->
</body>
</html>